<p></p>
<div class="jumbotron">
  <h1 class="display-3">CoderPhoto</h1>
  <p class="lead">@chug2k and @harley's lab project to show you trending photos from Instagram</p>
</div>

<div id="timeline" style="margin-top:100px">
  <div class="photos">
  <% @photos.each do |photo| %>
    <%= div_for photo, class: 'card' do %>
      <%= render photo %>
    <% end %>
  <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$('.photos').masonry({
  itemSelector: '.card',
  columnWidth: 200,
  gutter: 20
});
</script>
